{% extends 'registration/base.html' %}
{% block content %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h3>Welcome</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">
        <button>Log In</button>
        <div class="social">
            <a href="/registration">
                <div class="go"> Dont have an account. sign up.</div>
            </a>
        </div>
        {% if form.errors %}
            <p style="text-align: center">Your username and password didn't match. Please try again.</p>
        {% endif %}
    </form>
{% endblock %}
