{% extends 'registration/base.html' %}
{% block content %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h3>Welcome</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">
        <button>Log In</button>
        <div class="social">
            <div class="go"><i></i> Dont have an account. sign up.</div>
        </div>
    </form>
{% endblock %}
