:root {
    --main-bg-color: #F4E6D9;
    --main-font-color: #000;
    --accent-color: #FACA9D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

/* fix position of bootstrap icons */
i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-svg {
    width: 170px;
}


/*============= Scroll Bar =============*/
body::-webkit-scrollbar {
    width: 13px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--main-bg-color);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #be7d3f;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--main-bg-color);
    /* creates padding around scroll thumb */
}


/*============= Header =============*/
.header {
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
}

.categories-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.category a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-font-color);
}

.category a:hover {
    border-bottom: 2px solid var(--main-font-color);
}

header i {
    font-size: 1.3rem;
    color: var(--main-font-color);
}

header .logo-cont {
    cursor: pointer;
}


/*============= Search Box =============*/
.search-cont {
    margin-top: 5px;
    width: 100%;
    display: none;
    justify-content: center;
}

.search-box {
    background-color: var(--accent-color);
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
}

.search-box input {
    background-color: var(--accent-color);
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    border: none;
    outline: none;
}

.search-box button {
    background-color: var(--main-font-color);
    color: #fff;
    padding: 0px 8px;
}


/*============= Menu =============*/
.menu {
    border-radius: 0 0 20px 20px;
    background-color: var(--accent-color);
    padding: 10px;
    position: absolute;
    top: 6.5vh;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
    width: 100%;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.menu-item i {
    font-size: 1.3rem;
}

.menu-item p {
    font-size: 1.2rem;
}

.menu-item a {
    color: var(--main-font-color);
    text-decoration: none;
    transition: all 0.7s ease;
}

.menu-item:hover {
    background-color: #f4d1b1;
}


/*============= Top Slider =============*/
.top-swiper {
    width: 100%;
    height: 75vh;
}

.top-swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.top-swiper .img {
    width: 100%;
    height: 100%;
}

.top-swiper .article-info {
    position: absolute;
    top: 65%;
    left: 3%;
    margin-right: 1%;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
}

.top-swiper .article-info h1 {
    font-size: 1.6rem;
}

.top-swiper .article-info h3 {
    font-size: 1.2rem;
    font-weight: normal;
}

.top-swiper .article-sub-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.top-swiper .article-sub-info .category {
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--main-font-color);
}

.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--accent-color) !important;
    color: var(--accent-color) !important;
    fill: var(--accent-color) !important;
    stroke: var(--accent-color) !important;
    padding: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-horizontal {
    background-color: #cead8f !important;
}

.swiper-pagination-progressbar-fill {
    background-color: #a36830 !important;
}


/*============= Article (component) =============*/
.article {
    width: 650px;
    height: 200px;
    margin-top: 1vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.article .article-info-cont {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1vh;
}

.article h3 a {
    text-decoration: none;
    color: var(--main-font-color);
}

.article .article-img-cont {
    width: 40%;
    height: 100%;
    background-color: var(--main-font-color);
}

.article .article-img-cont img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* interaction buttons base style*/
.read-later-btn,
.history-remove-btn,
.favorite-btn {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 7px;
    font-size: 1.2rem;
    color: var(--accent-color);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* interaction buttons hover style*/
.article .read-later-btn:hover,
.history-remove-btn:hover,
.favorite-btn:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.7);
}

/* tooltip style*/
.article .interaction-btn-tooltip {
    visibility: hidden;
    width: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px 0px 5px 5px;
    position: absolute;
    top: 100%;
    right: 75%;
    font-size: 0.7rem;
}

/* override some styles for history-remove-tooltip */
.history-remove-tooltip {
    top: 10% !important;
    right: 100% !important;
    border-radius: 5px !important;
}

/* Show the tooltip on hover */
.article .read-later-btn:hover .interaction-btn-tooltip,
.article .favorite-btn:hover .interaction-btn-tooltip,
.article .history-remove-btn:hover .interaction-btn-tooltip {
    visibility: visible;
    width: max-content;
}


/*============= ana najah zdton ok 00=============*/
.flex-container {
    display: flex;
}

/*============= Articles Section =============*/
.articles-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    gap: 1vh;
}

.article-end-line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--main-font-color);
    margin-top: 1vh;
}


/*============= Articles View Section (component )=============*/
.articles-display-section {
    margin-top: 6vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 3vw;
    margin-right: 3vw;
}

.articles-display-section h1 {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 2rem;
}

.articles-display-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.articles-display-section .articles-display-btns {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.articles-display-section .articles-display-btns i {
    font-size: 1.2rem;
}

.client-search-input {
    background-color: var(--accent-color);
    width: 280px;
    display: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    border: none;
    border-radius: 7px;
    outline: none;
}

.client-filter-box {
    width: max-content;
    display: none;
    height: 100px;
    border-radius: 10px;
    background-color: var(--accent-color);
    position: absolute;
    top: 70%;
    right: 10px;
    z-index: 5;
    padding: 10px;
}

.client-filter-box form {
    width: 100%;
    display: flex;
    gap: 10px;
}


/*============= Popular Now Section =============*/
.popular-section .trend-svg {
    padding-left: 5px;
    width: 40px;
    height: 40px;
}


/*============= Top Category News =============*/
.top-category-news {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 230px;
    margin-bottom: 10px;
}

.top-category-news .category-title {
    width: 50%;
}

.top-category-news .category-title h1 {
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
}

.top-category-news .category-title h3 {
    font-size: 1.1rem;
    margin-left: 10px;
    font-weight: normal;
}

.top-category-news a {
    text-decoration: none;
    color: var(--main-font-color);
}

.top-category-news a:hover {
    text-decoration: underline;
}


/*====== Category Swiper ======*/
.category-swiper {
    width: 50%;
    height: 100%;
}

.category-swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 15px;
}

.category-swiper-slide img {
    width: 40%;
    height: 100%;
}

.category-swiper-slide .article-info {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.category-swiper-slide .article-info h2 {
    font-size: 1.2rem;
}

.category-swiper-slide .article-info h4 {
    font-weight: normal;
}

.category-swiper-pagination {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0) !important;
}

.swiper-pagination-bullet-active {
    background: #010508 !important;
}


/*============= Top Categories News Section =============*/
.top-categories-news {
    width: 92vw;
    margin: 1vh 4vw
}

.end-top-categories-news-line {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--main-font-color);
}


/*============= Article View component =============*/
.article-view-cont {
    width: 96vw;
    margin: 1vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.article-view-cont .category {
    font-size: 0.9rem;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    width: fit-content;
}

.article-share-btns {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.social-btn {
    font-size: 1.5rem;
    padding: 10px;
    background-color: #f0b88583;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.social-btn:hover {
    transform: scale(1.15);
    background-color: #ecad71ab;
}

/*============= comment section component =============*/
.comment-section {
    width: 100%;
    height: fit-content;
    padding: 5px;
}

.comment-input-box {
    width: 600px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--accent-color);
    border-radius: 5px;
}

#comment-input {
    width: 70%;
    height: 100%;
    font-size: 1.2rem;
    border: 0;
    outline: 0;
    background-color: var(--accent-color)
}

#comment-submit-btn {
    background-color: var(--main-font-color);
    color: #fff;
    font-size: 1rem;
    padding: 0px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#comment-submit-btn:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.822);
}

.comments-list {
    width: 80%;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-box {
    background-color: #FACA9D;
    width: fit-content;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 3px 15px 3px 3px;
}

.comments-list::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

.comments-list.comments-list::-webkit-scrollbar-track {
    background: var(--main-bg-color);
    /* color of the tracking area */
}

.comments-list::-webkit-scrollbar-thumb {
    background-color: #be7d3f;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--main-bg-color);
    /* creates padding around scroll thumb */
}

/*============= Footer =============*/
footer {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 600px;
}

.subscribe-section {
    background-color: black;
    color: white;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.subscribe-subtext {
    margin-bottom: 30px;
}

.info-section {
    margin-top: 5vh;
    background-color: var(--main-bg-color);
    color: black;
    width: 100%;
    display: flex;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input {
    height: 50px;
    width: 400px;
    padding: 5px 10px;
    color: white;
    border: 1px solid var(--main-bg-color);
    font-size: 1.1rem;
}

.subscribe-button {
    background-color: var(--main-bg-color);
    width: 80px;
    height: 50px;
    padding: 5px;
    border: 1px solid var(--main-bg-color);
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    transition: all 0.6s ease;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: var(--accent-color);
}

.container {
    display: flex;
    width: 100%;
}

.col-1,
.col-3 {
    width: 33%;
    text-align: center;
}

.logo-text {
    font-size: 1.2em;
    line-height: 1.5;
    word-wrap: break-word;
    margin-top: 35px;
}

.copyright-text {
    position: absolute;
    bottom: 12px;
    left: 35px;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons a {
    margin: 0 7px;
    text-decoration: none;
    color: black;
}

footer .social-icons i {
    font-size: 1.3rem;
}


.cbtn {
    background-color: black;
    height: 30px;
    width: 80px;
    color: blanchedalmond;
    border-radius: 20%;
}

.divimg {
    width: 80%;
    height: 450px;
    position: center;
    background-color: black;
}

.divimg img {
    width: 100%;
    height: 100%;
}

footer .category-container {
    width: 50%;
    float: left;
    margin-left: 200px;
}

footer .category {
    width: 50%;
    float: left;
    margin-top: 20px;
}

footer .category a {
    font-size: 0.9rem;
}

.clear {
    clear: both;
}

.category-text {
    margin-left: 100px;
}

.logo {
    width: 100px;
    height: 100px;
}

/*============= comment =============*/
.comment_area ol:empty:after {
    content: "No comment has been posted yet.";
    text-align: center;
    color: var(--gray);
    font-style: italic;
}

.comment-content {
    display: flex;
}

.contact-form-area .form-control {
    position: relative;
    z-index: 2;
    height: 54px;
    width: 60%;
    background-color: #f0f4f8;
    font-size: 1.1rem;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: 500;
    color: #aeaeae;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 100px;
}

.btn {
    background-color: black;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 170px;
    height: 54px;
    color: #ffffff;
    border-radius: 10px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 54px;
    font-weight: 600;
    text-transform: capitalize;
}

.btn1 {
    background-color: black;
    width: 120px;
    height: 54px;
    color: #ffffff;
    border-radius: 10px;
    align-items: center;
    font-size: 18px;
    line-height: 54px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px;
}