<div class="article-container">
    <div class="article">
        <div class="article-info-cont">
            <h3><a href="/article/{{ article.id }}">{{ article.title|truncatechars:100 }}</a></h3>
            <p>{{ article.subtitle|truncatechars:150 }}</p>
            <br>
        </div>
        <div class="article-img-cont">
            <img src="{{ article.url_image }}" alt="{{ article.title }}">
            <div class="flex-container">
                <i style="margin-right:35px;"
                   class="bi {% if article.favorite %}bi-star-fill{% else %}bi-star{% endif %} favorite-btn"
                   data-post-id="{{ article.id }}">
                    <span class="interaction-btn-tooltip">
                        {% if article.favorite %}Remove from favorite
                        {% else %}Add To favorite
                        {% endif %}
                    </span>
                </i>
                <i class="bi {% if article.readLater %}bi-bookmark-fill{% else %}bi-bookmark{% endif %} read-later-btn"
                   data-post-id="{{ article.id }}">
                    <span class="interaction-btn-tooltip">
                        {% if article.readLater %}Remove from Read-Later
                        {% else %}Add To Read-Later
                        {% endif %}
                    </span>
                </i>
            </div>
        </div>
    </div>
    <div class="article-end-line"></div>
</div>