{% load social_share %}
<div class="article-view-cont">
    <div class="category">
        <p><a href="/category/{{ article.news_category }}">{{ article.news_category }}</a></p>
    </div>
    <div class="article-details-cont">
        <div class="img-cont">
            <img src="{{ article.url_image }}" alt="{{ article.title }}">
        </div>
        <div class="details-cont">
            <h1>{{ article.title }}</h1>
            <h3> {{ article.subtitle }} </h3>
            <br>
            {% if article.news_author.name == "unknown" %}
            <p class="author-and-date">{{ article.publish_date }}</p>
            {% else %}
            <p class="author-and-date">By {{ article.news_author }} <br> {{ article.publish_date }}</p>
            {% endif %}
            <br>
            <div class="article-content">
                {{ article.content }}
                <br>
                <br>
                <u>source</u>: <a href="{{ article.source }}">{{ article.news_source }}</a>
            </div>
        </div>

    </div>

    <!-- social media share -->
    <div class="interactions-section">
        <h3>Share on Social media</h3>
        <div class="article-share-btns">
            {% with page_url=page_url %}
            {% post_to_facebook object_or_url "<i class='bi bi-facebook social-btn fb-btn'></i>" "{{article.title}}." %}
            {% post_to_twitter "{{article.title}}." object_or_url "<i class='bi bi-twitter social-btn twt-btn'></i>" %}
            {% post_to_whatsapp object_or_url "<i class='bi bi-whatsapp social-btn wh.btn'></i>" %}
            {% endwith %}
        </div>
    </div>
    <script>
        const data = { 'news': {{ article.id }},};
        fetch(`/history/`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', "X-CSRFToken": csrftoken },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {

            });
    </script>
    <!--Comment section -->
    {% include "components/comment_section.html" %}
</div>