{% load social_share %}
<div class="article-view-cont">
    <div class="category">
        <p>{{ article.news_category }}</p>
    </div>
    <h1>{{ article.title }}</h1>
    <h3> {{ article.subtitle }} </h3>
    <p>{{ article.news_author }} - {{ article.publish_date }}</p>
    <img src="{{ article.url_image }}" alt="{{ article.title }}">
    <div>
        {{ article.content }}
        source: <a href="{{ article.source }}">{{ article.news_source }}</a>
    </div>

    <!-- social media share -->
    <div class="article-share-btns">
        {% with page_url=page_url %}
            {% post_to_facebook object_or_url "<i class='bi bi-facebook social-btn fb-btn'></i>" "{{article.title}}." %}
            {% post_to_twitter "{{article.title}}." object_or_url "<i class='bi bi-twitter social-btn twt-btn'></i>" %}
            {% post_to_whatsapp object_or_url "<i class='bi bi-whatsapp social-btn wh.btn'></i>"  %}
        {% endwith %}
    </div>
    <script>
        const data = {'news': {{ article.id }},};
        fetch(`/history/`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json', "X-CSRFToken": csrftoken},
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {

            });
    </script>
    <!--Comment section -->
    {% include "components/comment_section.html" %}
</div>