<section class="comment-section">
    <form action="" id="comment-form" method="post">
        <h3>Leave your comment:</h3>
        <div class="comment-input-box">
            <input type="text" name="comment" id="comment-input" placeholder="Enter your comment">
            <input type="submit" value="Send" id="comment-submit-btn">
        </div>
    </form>
    <br>
    <br>
    <h1>Community Comments</h1>
    <div class="comments-list">
        {% if comments %}
            {% for comment in comments %}
                <div class="comment-box">
                    <h3 class="comment-author">{{ comment.user }} - <span
                            class="comment-date">{{ comment.created_at }}</span>
                    </h3>
                    <p class="comment-content">{{ comment.content }}</p>
                </div>
            {% endfor %}

        {% else %}
            <h2 style="color: rgba(0, 0, 0, 0.5);">No comments right now</h2>
        {% endif %}

    </div>
</section>