<section class="articles-display-section">
    <div class="articles-display-top">
        <h1>{{ title }}</h1>
        <div class="articles-display-btns">
            <div class="client-search-cont">
                <input type="text" class="client-search-input" placeholder="Start typing to search...">
            </div>
            <div><i class="bi bi-search client-search-btn"></i></div>
            <div><i class="bi bi-funnel-fill client-filter-btn"></i></div>
            <div class="client-filter-box">
            </div>
        </div>
    </div>
    <div
        class="articles-section {% if title == 'History' %} history-dynamic-article-section {% else %} dynamic-article-section {% endif %}">
        <!-- content will be renderd from articles-manager.js -->
    </div>
</section>