<div class="top-category-news">
    <div class="category-title">
        <h1>{{ category }}</h1>
        <h3><a href="/category/{{ category.name }}">View All >></a></h3>
    </div>
    <div class="swiper category-swiper">
        <div class="swiper-wrapper category-swiper-wrapper">
            {% for article in articles %}
            <div class="swiper-slide category-swiper-slide">
                {% include "components/article.html" %}
                <div class="swiper-pagination category-swiper-pagination"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>